<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign work = data[1] %}
  {% for content in work %}
    <li class="list-group-item" style="padding-left: 0rem; padding-right: 0rem;">
      <div class="row">
        <div class="col-12">
          <div class="work-entry" style="display: flex; justify-content: space-between; align-items: center;">
            <div class="title-container" style="flex-grow: 1; display: flex; flex-direction: column;">
              <div class="title" style="display: flex; justify-content: space-between;">
                <h6 class="font-weight-bold">
                  <a href="{{ content.url }}" style="font-size: 1.2rem; /* Adjust size as needed */">{{ content.name }}</a>
                </h6>
                <div class="date-column" style="white-space: nowrap; margin-right: 1.4rem;">
                  {% if content.startDate %}
                    {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
                    {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
                    {% assign date = startDate | append: ' - ' | append: endDate %}
                  {% else %}
                    {% assign date = '' %}
                  {% endif %}
                  <span class="badge font-weight-bold danger-color-dark date" style="width: 110px;">{{ date }}</span>
                </div>
              </div>
              <h6 class="font-weight-bold" style="font-size: 0.95rem; margin-top: 0.5rem;">{{ content.position }}</h6>
            </div>
          </div>
          {% if content.location %}
            <p class="location" style="font-size: 0.85rem; font-style: italic; color: #666; margin-top: 0.5rem;">
              <i class="fa-solid fa-location-dot iconlocation"></i>
              {{ content.location }}
            </p>
          {% endif %}
          <h6 class="mt-2" style="font-size: 0.95rem; font-style: italic; margin-top: 0.5rem;">{{ content.summary }}</h6>
          
          <!-- Updated to use list with bullets -->
          <ul class="items" style="margin-top: 0.5rem; padding-left: 1.5rem; list-style-type: disc;"> <!-- Adjust padding-left as needed -->
            {% for item in content.highlights %}
              <li>
                <span class="item" style="font-size: 0.8rem; font-style: italic;">{{ item }}</span>
              </li>
            {% endfor %}
          </ul>
          
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
